<?xml version="1.0"?>
<model>
  <name>ndt2</name>
  <version>1.0</version>
  <sdf version='1.4'>ndt2.sdf</sdf>

  <author>
   <name>Salvatore Marcellini and Jonathan Cacace</name>
   <email>salvatore.marcellini@gmail.com</email>
  </author>

  <description>
    This is a model of the NDT2 tilting coaxial octacopter.
  </description>
</model>
